<ng-container *ngFor="let post of posts">
  <app-post-list-item [post]=post></app-post-list-item>
</ng-container>

<div class="list-group">
  <ng-container *ngFor="let post of posts">
    <a href="#" class="list-group-item list-group-item-success">
      <app-post-list-item [post]=post></app-post-list-item>
    </a>
  </ng-container>
</div>
